.wrapper{
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.listOfCostumer{
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
}
.newTask{
    background-color: #4eac79;
    border: none;
    color: white;
    padding: 0 2rem;
}